@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,600;1,400&display=swap');
/* font-family: 'Urbanist', sans-serif; */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Urbanist', sans-serif;
	font-weight: 400;
}

/* =================================== INICIO ===================================*/
/* =================================== INICIO ===================================*/
/* =================================== INICIO ===================================*/

/* ===== GRID CONTAINER HOME ===== */
.grid-container__inicio{
	display: grid;
	grid-template-areas:
	"header navigation navigation"
	"hero hero hero"
	"main main main"
	"banner banner banner"
	"social social social"
	"footer footer footer";
}

/* ===== GRID ITEM ===== */
.grid-item {
	padding: 10px;
}

/* ===== REUSABLE BUTTON ===== */
.reusableButton{
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
	color: #fff;
	background-size: 300%;
	transition: 0.5s;
	background-image: linear-gradient(to left,  #234481, #4525F2);
}

.reusableButton:hover{
	background-position: right;
}

/* ===== GRID HEADER ===== */
.grid-header{
	grid-area: header;
	display: flex;
}

/* ===== GRID NAVIGATION ===== */
.grid-navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-navigation li{
	list-style: none;
	display: inline-block;
}

.grid-navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-navigation .reusableButton a{
	color: #fff;
}

.grid-navigation__icon{
	display: none;
}


.grid-navigation li a:hover{
	color: #4525F2;
	text-decoration: underline;
}


.grid-navigation .reusableButton a:hover{
	color: #fff;
}

/* ===== GRID HERO ===== */
.grid-hero{
	grid-area: hero;
	height: 92.5vh;
	display: flex;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/inicioPrincipal.png?alt=media&token=ac7969ff-0694-4ab6-8ad1-2e44988b8377");
	background-size: contain;
	justify-content: center;
	align-items: center;
	padding-bottom: 45px;
}

.grid-hero__text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10%;
}

/*.grid-hero__img{
	display: flex;
	align-items: center;
}
.grid-hero__img img{
	width: 600px;
}*/

.grid-hero__text .grid-hero__text--principal{
	font-size: 4.68rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 600;
	color: #4525F2;
}

.grid-hero__text--secondary{
	text-align: center;
}

.grid-hero__text .grid-hero__text--secondary{
	font-size: 1.25rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
	padding: 0.5% 0 3% 0;
}
.grid-hero__text .reusableButton{
	font-size: 1.2rem;
}

.grid-hero a{
	text-decoration: none;
	color: #000;
}

.grid-hero .reusableButton{
	color: #fff;
}

/* ===== GRID MAIN ===== */
.grid-main{
	grid-area: main;
}

.grid-main__subtitle{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grid-main__subtitle .titleSub{
	font-weight: 600;
	font-size: 2.8rem;
	padding-top: 80px;
	color: #4525F2;
}
.grid-main__subtitle p{
	text-align: center;
	margin: 0 30% 0 30%;
}
.grid-main__box{
	/* CON FLEX*/
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px; */

	/* CON GRID*/
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 100px;
	justify-items: center;
	justify-content: center;
	gap: 20px;
}

.grid-main__box .cat-date{
	font-weight: 600;
	font-size: 15px;
}

.grid-main__box .titleBox{
	font-weight: 600;
	font-size: 25px;
}

.grid-main__box img{
	width: 300px;
	border-radius: 10px;
}

.reusableBox{
	padding: 20px;
	width: 350px;
	text-align: center;
}

.reusableButton a{
	text-decoration: none;
	color: #fff;
	display: flex;
}

.grid-main .reusableButton{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -3% 46% 5% 46%;
}

/* ===== GRID BANNER ===== */
.grid-banner{
	grid-area: banner;
	background-color: #D7DCDE;
	padding: 108px;
	display: flex;
	justify-content: space-evenly;
}

.grid-banner a{
	text-decoration: none;
}

.grid-banner p{
	font-size: 2rem;
	font-weight: 600;
}

.grid-banner .reusableButton{
	padding: 10px 30px 10px 30px;
}

.grid-banner .reusableButton{
	background-color: #fff;
}

/* ===== GRID SOCIAL ===== */
.grid-social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-social li a{
	text-decoration: none;
	color: #fff;
}

.grid-social li a:hover{
	text-decoration: none;
	color: #4525F2;
	background-color: #fff;
	border-radius: 10px;
	padding: 4px;
	transition: 0.3s;
}


/* ===== GRID FOOTER ===== */
.grid-footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-footer p{
	margin: 0 10px;
}



/* =================================== GALERIA ===================================*/
/* =================================== GALERIA ===================================*/
/* =================================== GALERIA ===================================*/

/* ===== GRID CONTAINER GALERY ===== */
.grid-container__galeria{
	display: grid;
	grid-template-areas: 
	"header navigation navigation"
	"hero hero hero"
	"main main main"
	"social social social"
	"footer footer footer";
}

/* ===== GRID HEADER ===== */
.grid-galery__header{
	grid-area: header;
	display: flex;
}

/* ===== GRID NAVIGATION ===== */
.grid-galery__navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-galery__navigation li{
	list-style: none;
	display: inline-block;
}

.grid-galery__navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-galery__navigation .reusableButton a{
	color: #fff;
}

.grid-galery__navigation li a:hover{
	color: #4525F2;
	text-decoration: underline;
	transition: 0.3s;
}


.grid-galery__navigation .reusableButton a:hover{
	color: #fff;
	transition: 0.3s;
}



/* ===== GRID HERO ===== */
.grid-galery__hero{
	grid-area: hero;
	height: 92.5vh;
	display: flex;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/galeryPrincipal.png?alt=media&token=23c2adfd-d080-422b-8df7-70611472b759");
	background-size: contain;
	justify-content: flex-end;
	background-repeat: no-repeat;
	align-items: center;
	padding-right: 5%;
}


.grid-galeryHero__text{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin-bottom: 10%;
}


.grid-galeryHero__text .grid-galeryHero__text--principal{
	font-size: 4.68rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 600;
	color: #4525F2;
}

.grid-galeryHero__text--secondary{
	text-align: center;
}

.grid-galeryHero__text .grid-galeryHero__text--secondary{
	font-size: 1.25rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
	padding: 0.5% 0 3% 0;
}

.grid-galeryHero__text .reusableButton{
	font-size: 1.2rem;
}

.grid-galeryHero a{
	color: #000;
}

.grid-galeryHero__text .reusableButton{
	color: #fff;
	text-decoration: none;
}


/* ===== GRID MAIN ===== */
.grid-galery__main{
	grid-area: main;
}

.precioComprar{
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
	padding-top: 3%;
	
}

.precioComprar a{
	text-decoration: none;
}

.containerPrueba{
	transition: all 250ms ease-in-out;
}

.containerPrueba:hover{
	transform: scale(1.1);
	border-radius: 15px;
}









/* ===== GRID SOCIAL ===== */
.grid-galery__social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-galery__social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-galery__social li a{
	text-decoration: none;
	color: #fff;
}

.grid-galery__social li a:hover{
	text-decoration: none;
	color: #4525F2;
	background-color: #fff;
	border-radius: 10px;
	padding: 4px;
	transition: 0.3s;
}



/* ===== GRID FOOTER ===== */
.grid-galery__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-galery__footer p{
	margin: 0 10px;
}


/* =================================== SERVICIOS ===================================*/
/* =================================== SERVICIOS ===================================*/
/* =================================== SERVICIOS ===================================*/
/* ===== GRID CONTAINER SERVICES ===== */
.grid-container__servicios{
	display: grid;
	grid-template-areas:
	"header navigation navigation"
	"hero hero hero"
	"main main main"
	"work work work"
	"social social social"
	"footer footer footer";
}

/* ===== GRID HEADER ===== */
.grid-servicios__header{
	grid-area: header;
	display: flex;
}

/* ===== GRID NAVIGATION ===== */
.grid-servicios__navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-servicios__navigation li{
	list-style: none;
	display: inline-block;
}

.grid-servicios__navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-servicios__navigation .reusableButton a{
	color: #fff;
}

.grid-navigation__icon{
	display: none;
}

.grid-servicios__navigation li a:hover{
	color: #4525F2;
	text-decoration: underline;
	transition: 0.3s;
}


.grid-servicios__navigation .reusableButton a:hover{
	color: #fff;
	transition: 0.3s;
}



/* ===== GRID HERO ===== */
.grid-servicios__hero{
	grid-area: hero;
	height: 92.5vh;
	display: flex;
	background-image: url(".https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/servicesPrincipal.png?alt=media&token=4b4e7cc0-2c3e-43cd-84f0-14c4cc03501f");
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5%;
}


.grid-serviciosHero__text{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 10%;
}


.grid-serviciosHero__text .grid-serviciosHero__text--principal{
	font-size: 4.68rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 600;
	color: #4525F2;
}

.grid-serviciosHero__text--secondary{
	text-align: left;
}

.grid-serviciosHero__text .grid-serviciosHero__text--secondary{
	font-size: 1.25rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
	padding: 0.5% 0 3% 0;
}

.grid-serviciosHero__text .reusableButton{
	font-size: 1.2rem;
}

.grid-serviciosHero__text .reusableButton{
	color: #fff;
	text-decoration: none;
}

/* ===== GRID MAIN ===== */
.grid-servicios__main{
	grid-area: main;
	background-color: #4525F2;
}

.grid-servicios__main .colorWhite{
	color: #fff;
}

.uil.uil-heart-alt{
	font-size: 2rem;
}

.spaceUpDown{
	padding: 2% 0 5% 0;
}

.textLight{
	font-weight: 100;
}

.grid-main__box .lineWhite:hover{
	background-color: #fff;
	color: #000;
}




/* ===== GRID WORK ===== */
.grid-servicios__work{
	grid-area: work;
}

/* ===== GRID SOCIAL ===== */
.grid-servicios__social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-servicios__social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-servicios__social li a{
	text-decoration: none;
	color: #fff;
}

.grid-servicios__social li a:hover{
	text-decoration: none;
	color: #4525F2;
	background-color: #fff;
	border-radius: 10px;
	padding: 4px;
	transition: 0.3s;
}

/* ===== GRID FOOTER ===== */
.grid-servicios__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-servicios__footer p{
	margin: 0 10px;
}

/* ===== GRID FOOTER ===== */
.grid-servicios__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}
/* =================================== AYUDA ===================================*/
/* =================================== AYUDA ===================================*/
/* =================================== AYUDA ===================================*/

/* ===== GRID CONTAINER AYUDA ===== */
.grid-container__ayuda{
	display: grid;
	grid-template-areas:
	"header navigation navigation"
	"hero hero hero"
	"main main main"
	"social social social"
	"footer footer footer";
}

/* ===== GRID HEADER ===== */
.grid-ayuda__header{
	grid-area: header;
	display: flex;
}

/* ===== GRID NAVIGATION ===== */
.grid-ayuda__navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-ayuda__navigation li{
	list-style: none;
	display: inline-block;
}

.grid-ayuda__navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-ayuda__navigation .reusableButton a{
	color: #fff;
}

.grid-navigation__icon{
	display: none;
}

.grid-ayuda__navigation li a:hover{
	color: #4525F2;
	text-decoration: underline;
	transition: 0.3s;
}


.grid-ayuda__navigation .reusableButton a:hover{
	color: #fff;
	transition: 0.3s;
}

/* ===== GRID HERO ===== */
.grid-ayuda__hero{
	grid-area: hero;
	height: 92.5vh;
	display: flex;
	background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/inicioPrincipal.png?alt=media&token=ac7969ff-0694-4ab6-8ad1-2e44988b8377");
	background-size: contain;
	justify-content: center;
	background-repeat: no-repeat;
	align-items: center;
}

.grid-ayudaHero__text{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10% 10% 10%;
}

.grid-ayudaHero__text .grid-ayudaHero__text--principal{
	font-size: 4.68rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 600;
	color: #4525F2;
}

.grid-ayudaHero__text .grid-ayudaHero__text--secondary{
	font-size: 1.25rem;
	font-family: 'Urbanist', sans-serif;
	font-weight: 300;
}

.grid-ayudaHero__text--secondary{
	text-align: center;
}

/* ===== GRID MAIN ===== */
.grid-ayuda__main{
	grid-area: main;
	padding-bottom: 3%;
}

.grid-main__parrafo{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2% 30% 2% 30%;
}
.grid-main__parrafo p{
	text-align: center;
}

.grid-main__parrafo .parrafoPregunta{
	font-size: 1.5rem;
	font-weight: 600;
}

.parrafoText{
	font-size: 1.1rem;
	font-weight: 100;
}


/* ===== GRID SOCIAL ===== */
.grid-ayuda__social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-ayuda__social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-ayuda__social li a{
	text-decoration: none;
	color: #fff;
}

.grid-ayuda__social li a:hover{
	text-decoration: none;
	color: #4525F2;
	background-color: #fff;
	border-radius: 10px;
	padding: 4px;
	transition: 0.3s;
}

/* ===== GRID FOOTER ===== */
.grid-ayuda__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-ayuda__footer p{
	margin: 0 10px;
}

/* ===== GRID FOOTER ===== */
.grid-ayuda__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

/* =================================== CONTACTO ===================================*/
/* =================================== CONTACTO ===================================*/
/* =================================== CONTACTO ===================================*/

/* ===== GRID CONTAINER CONTACTO ===== */
.grid-container__contacto{
	display: grid;
	grid-template-areas:
	"header navigation navigation"
	"hero hero hero"
	"social social social"
	"footer footer footer";
}

/* ===== GRID HEADER ===== */
.grid-contacto__header{
	grid-area: header;
	display: flex;
}

/* ===== GRID NAVIGATION ===== */
.grid-contacto__navigation{
	grid-area: navigation;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.grid-contacto__navigation li{
	list-style: none;
	display: inline-block;
}

.grid-contacto__navigation li a{
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}

.grid-contacto__navigation .reusableButton a{
	color: #fff;
}

.grid-navigation__icon{
	display: none;
}

.grid-contacto__navigation li a:hover{
	color: #4525F2;
	text-decoration: underline;
	transition: 0.3s;
}


.grid-contacto__navigation .reusableButton a:hover{
	color: #fff;
	transition: 0.3s;
}


/* ===== GRID HERO ===== */

.grid-contacto__hero{
	grid-area: hero;
	display: flex;
	height: 95vh;
	justify-content: center;
	align-items: center;
	padding-bottom: 10%;
}

.reusableButton{
	margin-bottom: 0px;
}

.grid-contacto__hero .titleSub{
	font-weight: 600;
	font-size: 2.3rem;
	color: #4525F2;
}

.grid-contacto__form{
	display: flex;
	border: 4px solid #4525F2;
	padding: 15px 40px 15px 40px;
	border-radius: 30px;
	
}

.grid-contacto__form .form__two iframe{
	height: 420px;
	width: 300px;
	padding-left: 20px;
}

.titleSub .iconForm{
	display: flex;
}
.iconToIcon p{
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 100;

}

.iconForm{
	font-size: 1.3rem;
	padding: 10% 0 0 0;
}

.contact__form--data{
	display: flex;
}

.form__data{
	display: flex;
	flex-direction: column;
	padding-bottom: 8px;
	
}

.form__data a{
	text-decoration: none;
	text-align: center;
}

.spaceToSpaceX{
	padding-top: 20px;
}

.spaceToSpaceXY{
	padding-bottom: 20px;
}

/* ===== GRID SOCIAL ===== */
.grid-contacto__social{
	grid-area: social;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4525F2;
	color: #fff;
	padding: 50px;
}

.grid-contacto__social li{
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	padding-top: 5%;
}

.grid-contacto__social li a{
	text-decoration: none;
	color: #fff;
}

.grid-contacto__social li a:hover{
	text-decoration: none;
	color: #4525F2;
	background-color: #fff;
	border-radius: 10px;
	padding: 4px;
	transition: 0.3s;
}

/* ===== GRID FOOTER ===== */
.grid-contacto__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}

.grid-contacto__footer p{
	margin: 0 10px;
}

/* ===== GRID FOOTER ===== */
.grid-contacto__footer{
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4525F2;
	padding: 20px;
	color: #fff;
}



/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/


@media all and (max-width: 576px){
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	/* =================================== INICIO MOBILE===================================*/
	/* =================================== INICIO MOBILE===================================*/
	/* =================================== INICIO MOBILE===================================*/

	/* ===== GRID CONTAINER HOME ===== */
	.grid-container__inicio{
		display: grid;
		grid-template-areas:
		"header header"
		"navigation navigation"
		"hero hero"
		"main main"
		"banner banner"
		"social social"
		"footer footer";
	}
	
	/* ===== GRID HEADER ===== */
	.grid-header{
		grid-area: header;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grid-header a img{
		height: 35px;
	}

	/* ===== GRID NAVIGATION ===== */
	.grid-navigation{
		grid-area: navigation;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		padding-bottom: 15%;
	}

	.grid-navigation ul{
		display: none;
	}

	.grid-navigation__icon{
		display: flex;
	}

	.grid-navigation__icon a{
		color: #000;
		padding:  0 10px 0 10px;
	}

	/* .uil {
		color: #221e38;
	} */

	/* ===== GRID HERO ===== */

	.grid-hero{
		grid-area: hero;
		display: flex;
		height: 100vh;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/principalMobile.png?alt=media&token=103597bc-4ae2-4de3-b3d6-1a05e5dd9dfa");
		background-size: cover;
		background-repeat: no-repeat;
		align-items: flex-start;
		padding-top: 15%;
	}

	.grid-hero__text{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 5% 0 2%;
	}
	.grid-hero__text .grid-hero__text--principal{
		font-size: 2.8rem;
	}

	.grid-hero__text .grid-hero__text--secondary{
		font-size: 1rem;
		text-align: left;
		
	}

	.grid-hero__text .grid-hero__text--button {
		font-size: 0.9rem;
	}

	/* ===== GRID MAIN ===== */
	.grid-main{
		grid-area: main;
		display: flex;
		flex-direction: column;
	}

	.grid-main__subtitle .titleSub{
		font-size: 1.9rem;
		padding-top: 50px;
		width: 300px;
		
	}

	.grid-main__subtitle p{
		font-size: 0.9rem;
	}


	.titleParrafo{
		width: 350px;
		/* padding-bottom: 5%; */
	}

	.grid-main .reusableButton{
		display: flex;
		margin: -20% 35% 15% 35%;
	}

	.grid-main__box{
		grid-template-columns: 150px;
		justify-content: center;
	}

	.grid-main__box .cat-date{
		font-size: 1rem;
	}
	
	.grid-main__box .titleBox{
		font-size: 1.8rem;
	}
	
	.grid-main__box img{
		width: 200px;
	}

	.reusableBoxp p{
		font-size: 0.8rem;
	}

	/* ===== GRID BANNER===== */
	.grid-banner{
		grid-area: banner;
		display: flex;
		flex-wrap: wrap;
		padding: 50px 0 35px 0;
	}

	.grid-banner p{
		font-size: 1.6rem;
		text-align: center;
		padding-bottom: 5%;
	}

	/* ===== GRID SOCIAL ===== */
	.grid-social{
		grid-area: social;
		
	}
	
	.grid-social p{
		font-size: 1.4rem;
	}
	.grid-social ul{
		text-align: center;
		font-size: 1.3rem;
	}

	.grid-social li{
		display: block;
	}

	.grid-social ul li a{
		color: #ccc;
	}

	/* ===== GRID FOOTER ===== */
	.grid-footer{
		grid-area: footer;
		flex-direction: column;
	}

	.grid-footer p{
		padding-bottom: 20px;
		font-size: 1.1rem;
	}

	/* =================================== GALERY MOBILE===================================*/
	/* =================================== GALERY MOBILE===================================*/
	/* =================================== GALERY MOBILE===================================*/


	/* ===== GRID CONTAINER GALERY ===== */
	.grid-container__galeria{
		display: grid;
		grid-template-areas: 
		"header header"
		"navigation navigation"
		"hero hero"
		"main main"
		"social social"
		"footer footer";
	}


	/* ===== GRID HEADER ===== */
	.grid-galery__header{
		grid-area: header;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grid-galery__header a img{
		height: 35px;
	}

	/* ===== GRID NAVIGATION ===== */
	.grid-galery__navigation{
		grid-area: navigation;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		padding-bottom: 15%;
	}

	.grid-galery__navigation ul{
		display: none;
	}

	.grid-navigation__icon{
		display: flex;
	}

	.grid-navigation__icon a{
		color: #000;
		padding:  0 10px 0 10px;
	}

	/* ===== GRID HERO ===== */
	.grid-galery__hero{
		grid-area: hero;
		height: 80vh;
		display: flex;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/galeryMobile.png?alt=media&token=25945633-0a47-46ac-8bd2-9311b5bc1b76");
		background-size: contain;
		padding-bottom: 50%;
	}

	.grid-galeryHero__text{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.grid-galeryHero__text .grid-galeryHero__text--principal{
		font-size: 2.8rem;
	}

	.grid-galeryHero__text--secondary{
		font-size: 1rem;
		
	}

	/* ===== GRID MAIN ===== */
	.grid-galery__main{
		grid-area: main;
	}

	/* ===== GRID SOCIAL ===== */
	.grid-galery__social{
		grid-area: social;
	}

	.grid-galery__social p{
		font-size: 1.4rem;
	}
	.grid-galery__social ul{
		text-align: center;
		font-size: 1.3rem;
	}

	.grid-galery__social li{
		display: block;
	}

	.grid-galery__social ul li a{
		color: #ccc;
	}

	/* ===== GRID FOOTER ===== */
	.grid-galery__footer{
		grid-area: footer;
		flex-direction: column;
	}

	.grid-galery__footer p{
		padding-bottom: 20px;
		font-size: 1.1rem;
	}


	/* ===================================  SERVICIOS MOBILE===================================*/
	/* =================================== SERVICIOS MOBILE===================================*/
	/* ===================================  SERVICIOS MOBILE===================================*/


	/* ===== GRID CONTAINER SERVICES ===== */
	.grid-container__servicios{
		display: grid;
		grid-template-areas: 
		"header header"
		"navigation navigation"
		"hero hero"
		"main main"
		"work work"
		"social social"
		"footer footer";
	}

	/* ===== GRID HEADER ===== */
	.grid-servicios__header{
		grid-area: header;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grid-servicios__header a img{
		height: 35px;
	}

	/* ===== GRID MAVIGATION ===== */
	.grid-servicios__navigation{
		grid-area: navigation;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		padding-bottom: 15%;
	}

	.grid-servicios__navigation ul{
		display: none;
	}

	.grid-navigation__icon{
		display: flex;
	}

	.grid-navigation__icon a{
		color: #000;
		padding:  0 10px 0 10px;
	}


	/* ===== GRID HERO ===== */
	.grid-servicios__hero{
		grid-area: hero;
		height: 80vh;
		display: flex;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/servicesPrincipal.png?alt=media&token=4b4e7cc0-2c3e-43cd-84f0-14c4cc03501f");
		background-size: cover;
		padding-bottom: 50%;
	}

	.grid-serviciosHero__text{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 25%;
	}

	.grid-serviciosHero__text .grid-serviciosHero__text--principal{
		font-size: 2.8rem;
	}

	.grid-serviciosHero__text .grid-serviciosHero__text--secondary{
		font-size: 1rem;
	}

	/* ===== GRID MAIN ===== */
	.grid-servicios__main{
		grid-area: main;
	}

	/* ===== GRID WORK ===== */
	.grid-servicios__work{
		grid-area: work;
	}

	/* ===== GRID SOCIAL ===== */
	.grid-servicios__social{
		grid-area: social;
	}

	.grid-servicios__social p{
		font-size: 1.4rem;
	}
	.grid-servicios__social ul{
		text-align: center;
		font-size: 1.3rem;
	}

	.grid-servicios__social li{
		display: block;
	}

	.grid-servicios__social ul li a{
		color: #ccc;
	}

	/* ===== GRID FOOTER ===== */
	.grid-servicios__footer{
		grid-area: footer;
		flex-direction: column;
	}

	.grid-servicios__footer p{
		padding-bottom: 20px;
		font-size: 1.1rem;
	}

	/* =================================== AYUDA MOBILE===================================*/
	/* =================================== AYUDA MOBILE===================================*/
	/* =================================== AYUDA MOBILE===================================*/

	/* ===== GRID CONTAINER AYUDA ===== */
	.grid-container__ayuda{
		display: grid;
		grid-template-areas: 
		"header header"
		"navigation navigation"
		"hero hero"
		"main main"
		"social social"
		"footer footer";
	}

	/* ===== GRID HEADER ===== */
	.grid-ayuda__header{
		grid-area: header;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.grid-ayuda__header a img{
		height: 35px;
	}
	/* ===== GRID NAVIGATION ===== */
	.grid-ayuda__navigation{
		grid-area: navigation;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		padding-bottom: 15%;
	}

	.grid-ayuda__navigation ul{
		display: none;
	}

	.grid-navigation__icon{
		display: flex;
	}

	.grid-navigation__icon a{
		color: #000;
		padding:  0 10px 0 10px;
	}

	/* ===== GRID HERO ===== */
	.grid-ayuda__hero{
		grid-area: hero;
		height: 80vh;
		display: flex;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-one-a94fe.appspot.com/o/principalMobile.png?alt=media&token=103597bc-4ae2-4de3-b3d6-1a05e5dd9dfa");
		background-size: cover;
		padding-bottom: 50%;
	}

	.grid-ayudaHero__text{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 25%;
	}

	.grid-ayudaHero__text .grid-ayudaHero__text--principal{
		font-size: 2.8rem;
	}

	.grid-ayudaHero__text .grid-ayudaHero__text--secondary{
		font-size: 1rem;
	}

	/* ===== GRID MAIN ===== */
	.grid-ayuda__main{
		grid-area: main;
	}

	.grid-main__parrafo{
		padding: 5% 10% 10% 10%;
	}

	/* ===== GRID SOCIAL ===== */
	.grid-ayuda__social{
		grid-area: social;
	}

	.grid-ayuda__social p{
		font-size: 1.4rem;
	}
	.grid-ayuda__social ul{
		text-align: center;
		font-size: 1.3rem;
	}

	.grid-ayuda__social li{
		display: block;
	}

	.grid-ayuda__social ul li a{
		color: #ccc;
	}
	/* ===== GRID FOOTER ===== */
	.grid-ayuda__footer{
		grid-area: footer;
		flex-direction: column;
	}

	.grid-ayuda__footer p{
		padding-bottom: 20px;
		font-size: 1.1rem;
	}

	/* =================================== CONTACTO MOBILE===================================*/
	/* =================================== CONTACTO MOBILE===================================*/
	/* =================================== CONTACTO MOBILE===================================*/

	/* ===== GRID CONTAINER CONTACTO ===== */
	.grid-container__contacto{
		display: grid;
		grid-template-areas: 
		"header header"
		"navigation navigation"
		"hero hero"
		"social social"
		"footer footer";
	}

	/* ===== GRID HEADER ===== */
	.grid-contacto__header{
		grid-area: header;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grid-contacto__header a img{
		height: 35px;
	}

	/* ===== GRID NAVIGATION ===== */
	.grid-contacto__navigation{
		grid-area: navigation;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		padding-bottom: 30%;
	}

	.grid-contacto__navigation ul{
		display: none;
	}

	.grid-navigation__icon{
		display: flex;
	}

	.grid-navigation__icon a{
		color: #000;
		padding:  0 10px 0 10px;
	}


	/* ===== GRID HERO  ===== */
	.grid-contacto__hero {
		grid-area: hero;
		height: 100vh;
		margin-top: -90px;
	}

	.grid-contacto__form{

		display: flex;
		flex-direction: column;
		border: 4px solid #4525F2;
		padding: 15px 40px 15px 40px;
		border-radius: 30px;
		width: 380px;
		align-items: center;
		}

	.grid-contacto__form .form__two iframe{
		height: 220px;
		width: 300px;
		padding-left: 0px;
	}

	.grid-contacto__hero .titleSub{
		text-align: center;
	}


	.iconForm{
		text-align: center;
	}

	.contact_form--data {
		text-align: center;
	}

	/* ===== GRID SOCIAL ===== */
	.grid-contacto__social{
		grid-area: social;
	}

	.grid-contacto__social p{
		font-size: 1.4rem;
	}
	.grid-contacto__social ul{
		text-align: center;
		font-size: 1.3rem;
	}

	.grid-contacto__social li{
		display: block;
	}

	.grid-contacto__social ul li a{
		color: #ccc;
	}


	/* ===== GRID FOOTER===== */
	.grid-contacto__footer{
		grid-area: footer;
		flex-direction: column;
	}
	
	.grid-contacto__footer p{
		padding-bottom: 20px;
		font-size: 1.1rem;
	}


}