@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,600;1,400&display=swap');
/* font-family: 'Urbanist', sans-serif; */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Urbanist', sans-serif;
	font-weight: 400;
}

.containerPrincipal{
	display: grid;
}

/* =================================== CONFIGURACIONES HECHAS PARA BOOSTRAP ===================================*/
.mt-10 {
	margin-top: 10%;
}

.mt-15 {
	margin-top: 15%;
}

.d-flex{
	margin: 0 30% 0 30%;
}

.modal-footer{
	justify-content: center;
}


/* =================================== INDEX ===================================*/

/*===== HERO =====*/
.containerHero{
	height: 100vh;
	background-image: url("../assets/img/hero.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/*===== MAIN =====*/

.grid-box{
	/* CON GRID*/
	display: grid;
	grid-template-columns: repeat(3, 400px);
	padding: 100px;
	justify-items: center;
	justify-content: center;
	gap: 20px;
}

.grid-box img{
	width: 300px;
	border-radius: 10px;
}

.reusableBox{
	padding: 20px;
	width: 350px;
	text-align: center;
}


/*===== FORO =====*/

.myForo{
	background-color: #0d6efd;
}


.foroServices img{
	filter: invert(100%);
	height: 75px;
}


.grid-boxNormal{
	display: grid;
	grid-template-columns: repeat(3, 400px);
	padding: 100px;
	justify-items: center;
	justify-content: center;
	gap: 50px;
}


.mx-sm-6{
	margin-right: -3rem ;
    margin-left: -3rem ;
}


/*===== INFORMACION =====*/

.grid-info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.parrafoCatDog .colorCat{
	color: #efa5a2;
}

.parrafoCatDog .colorDog{
	color: #00afa5;
}

.cajaHeart{
	width: 200px;
	height: 200px;
	margin: 20px;
	background-image: url("../assets/img/mask_heart.png");
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-table;
}

.colorOne{
	background-color: #00afa5;
}

.colorTwo{
	background-color: #000;
}

.colorThree{
	background-color: #efa5a2;
}

.colorFour{
	background-color: #666;
}

/*===== FOOTER =====*/
.footerArreglo{
	padding: 5%
}

.footerArreglo ul {
	display: inline-block;
}


.footerArreglo ul li {
	list-style: none;
	

}
.footerArreglo ul li a{
	text-decoration: none;

}

/* =================================== EVENTOS ===================================*/


/*===== MAIN =====*/
.eventosBox img{
	height: 300px;
	border-radius: 15px;
}

.containerPrueba{
	transition: all 250ms ease-in-out;
	
}

.containerPrueba:hover{
	transform: scale(1.1);
	border-radius: 15px;
}












/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/
/* =================================== MEDIA QUERIES ===================================*/

@media all and (max-width: 576px){

/* =================================== CONFIGURACIONES HECHAS PARA BOOSTRAP ===================================*/

	.d-flex{
		margin: 0 15% 0 15%;
	}

/* =================================== INDEX ===================================*/
	/*===== HERO =====*/
	.containerHero{
		height: 100vh;
		background-image: url("../assets/img/heroMobil.png");
		background-repeat: no-repeat;
		background-size: cover;
	}

	/*===== MAIN =====*/
	.grid-box{
		display: grid;
		grid-template-columns: repeat(1, 1px);
	}
	/*===== FORO =====*/
	.grid-boxNormal{
		display: grid;
		grid-template-columns: repeat(1, 1px);
		text-align: center;
	}

	/*===== INFORMACION =====*/
	.grid-info{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

/* =================================== EVENTOS ===================================*/





}
