/* ========== BOOSTRAP ========== */

p{
    margin-bottom: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar > .container-fluid{
    justify-content: center;
    @include j-media-up(md){
        justify-content: space-between;
    }
}

.dropdown-menu{
    background-color: #212121;
}

.dropdown-item{
    color: #fff;
}

.btn{
    width: 148px;
    height: 44px;
}

.btn-myGreen{
    background-color: $secondColor;
    border-radius: 150px;
}

.btn-darking{
    background-color: $colorButton;
    border-radius: 150px;
}


.navbar-brand {
    margin-right: 0;
    font-size: 1rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.navbar-dark .navbar-toggler{
    border: 0;
}

.navbar-collapse {
    padding-bottom: 0rem;
}

.card{
    background-color: $cardColor;
    color: #fff;
}

.card-footer{
    background-color: #27272785;
}

.row{
    --bs-gutter-x: 0rem;
}

.form-control{
    @include j-media-up(xxl){
        width: auto;
    }
}

.offset-1 {
    @include j-media-up(xxl){
        margin-left: 0;
    }
}

.row> * {
    width: auto;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(42, 211, 166, 0.527);
}

.modal-content {
    background-color: #e5dddd;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(42, 211, 166, 0.527);
}

