/* ========== BOOSTRAP ========== */
p{
    margin-bottom: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar > .container-fluid{
    justify-content: space-between;
    @include j-media-up(md){
        justify-content: space-between;
    }
}

.dropdown-menu{
    background-color: #212121;
}

.dropdown-item{
    color: #fff;
}

.btn{
    width: 148px;
    height: 44px;
}

.btn-myGreen{
    background-color: $secondColor;
    border-radius: 150px;
}

.btn-darking{
    background-color: #202020;
    border-radius: 150px;
    color: #fff;

    &:hover{
        color: #fff;
    }
}

.navbar-brand {
    margin-right: 0;
    font-size: 1rem;
}

.navbar-dark .navbar-toggler{
    border: 0;
}

.navbar-collapse {
    padding-bottom: 0rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.card{
    background-color: $cardColor;
    color: #fff;
}

.card-footer{
    background-color: #27272785;
}

.row{
    --bs-gutter-x: 0rem;
}

.row> * {
    width: auto;
}

.offset-1 {
    @include j-media-up(xxl){
        margin-left: 0;
    }
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(201, 196, 196, 0.527);
}

.modal-content {
    background-color: #e5dddd;
}

.form-control{
    @include j-media-up(lg){
        text-align: center;
        padding: 0.563rem 0.75rem;
    }
    @include j-media-up(md){
        text-align: center;
        padding: 0.563rem 0.75rem;
    }
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(201, 196, 196, 0.527);
}

.text-color{
    color: #6c757d;
    font-weight: 700;
    transition: 0.5s;
    &:hover{
        color: #000;
    }
}