/* ======================================== CONTACT ======================================== */
/* ======================================== CONTACT ======================================== */
/* ======================================== CONTACT ======================================== */
/* ==================== HEADER ==================== */
.containerContact{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    height: 70vh;
    @include j-media-up(xxl){
        height: 80vh;
    }
    @include j-media-up(xl){
        height: 75vh;
        justify-content: space-evenly;
        text-align: center;
    }
    @include j-media-up(lg){
        height: 80vh;
        flex-direction: column;
    }
    @include j-media-up(md){
        justify-content: center;
    }
    .img__container{
        
        padding-top: 20px;
        @include j-media-up(xxl){
            padding-top: 10px;
        }
        img{
            width: 450px;
            @include j-media-up(xxl){
                width: 200px;
            }
            @include j-media-up(xl){
                width: 180px;
            }
        }
    }
}