/* ======================================== INICIO ======================================== */
/* ======================================== INICIO ======================================== */
/* ======================================== INICIO ======================================== */
/* ==================== HEADER ==================== */
#header{
    background-image: url("../assets/img/indexPrincipal.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    @include borderPaginationHeader;
    &::before{
        content: "";
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* ==================== NAVIGATION ==================== */
/* ===== Principal Title ===== */
.principalTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    @include j-padding(0, 1.5rem, 0, 1.5rem);
    .title__heading{
        font-weight: 700;
        text-align: center;
        width: 900px;
        @include j-media-up(lg){
            width: auto;
        }
        @include j-media-up(md){
            width: auto;
        }
    }
    .title__description{
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        width: 750px;
        text-align: center;
        color: $grisColor;
        @include j-padding(0, .5rem, 0, .5rem);
        @include j-media-up(md){
            width: auto;
        }
    }
}
/* ===== Scroll down ===== */
.scrolldown{
    color: $grisColor;
    .beat{
        display: inline-flex;
        // animation-name: put;
        // animation-duration: 1.2s;
        // animation-iteration-count: infinite;
    }
}

// @keyframes put {
//     0% {
//         transform: scaleX(0.9);
//     }
//     5% {
//         transform: scaleY(1);
//     }
//     10% {
//         transform: scale(0.9);
//     }
//     15% {
//         transform: scale(1.1);
//     }
//     50% {
//         transform: scale(0.9);
//     }
//     100% {
//         transform: scale(0.9);
//     }
// }

/* ==================== MAIN ==================== */
/* ===== My img fluid ===== */
.helloImg{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    @include j-media-up(xl){
        max-width: calc(100% - 20%);
    }
    @include j-media-up(lg){
        max-width: calc(100% - 30%);
    }
    @include j-media-up(md){
        max-width: calc(100% - 30%);
    }
}

/* ===== First Section ===== */
.firstSection{
    background-color: $grisColor;
    @include borderPagination;
}

.container__boxing{
    .boxing__reusable{
        @extend %fco-container;
        padding: 3% 0;
        @include j-media-up(xxl){
            flex-direction: column;
            padding: 10% 4%;
        }
        .boxing-text{
            > h2{
                @extend %firstTitle;
            }
            > p{
                @extend %secondTitle;
            }
            margin: 0 2%;
            @include j-media-up(xxl){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-bottom: 10%;
                
            }
        }
    }
    .boxing-special{
        @include j-media-up(xxl){
            flex-direction: column-reverse;
        }    
    }
}


/* ===== Second Section ===== */
.secondSection{
    background-color: $firstColor;
    color: $thirdColor;
    @include borderPagination;
}

.misionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    @include j-media-up(xxl){
        flex-direction: column;
    }
    .boxing-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        > h2{
            @extend %firstTitle;
        }
        > p{
            @extend %secondTitle;
            width: 600px;
            padding-right: 20px;
            @include j-media-up(xxl){
                width: auto;
                padding-right: 0;
            }
        }
        @include j-media-up(xxl){
            text-align: center;
            padding-bottom: 5%;
        }
    }

    .boxing-img{
        display: grid;
        grid-template-columns: repeat(2, 320px);
        gap: 20px;
        .secondSection-img{
            height: auto;
            width: 100%;
            @include j-media-up(xxl){
                width: 70%;
            }
        }
        .secondSection-img-special{
            height: 240px;
            width: 660px;
            @include j-media-up(xxl){
                display: none;
            }
        }
        .secondSection-img-special-xxl{
            display: none;
            height: auto;
            width: 100%;
            @include j-media-up(xxl){
                display: block;
                width: 70%;
            }
        }
        @include j-media-up(xxl){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

/* ===== Third Section ===== */
.banner-one{
    display: flex;
    justify-content: center;
    align-items: center;
    @include borderPagination;
    @include j-media-up(xxl){
        flex-direction: column;
    }
    .one-text{
        padding: 0 5%;
        text-align: center;
        @include j-media-up(xxl){
            padding: 5% 0;
        }
        p{
            font-weight: bold;
        }
    }
}

/* ===== Fourth Section ===== */
.fourthSection{
    background-color: $firstColor;
    color: $thirdColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include borderPagination;
    @include j-media-up(xxl){
        p{
            text-align: center
            
        }
    }
    .card-container{
        @include j-media-up(xxl){
            flex-direction: column;
        }
    }
    .card-footer{
        @include j-media-up(xxl){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer-card-one{
            padding-left: 1rem;
            align-items: flex-start;
            @include j-media-up(xxl){
            padding-left: 0;
            align-items: center;
            }
        }
    }
    > h2{
        @extend %firstTitle;
    }
    > p{
        @extend %secondTitle;
    }
}

/* ==================== FOOTER ==================== */
#footer{
    background-color: $secondColor;
}

.infoFooter{
    @include borderPagination;
    flex-direction: column;
    @include j-media-up(xxl){
        flex-direction: column-reverse
    }
    .footerForm{
        justify-content: center;
        @include j-media-up(xxl){
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            box-sizing: border-box;
        }
        .nav-footer{
            display: flex;
            flex-direction: row;
            @include j-media-up(xxl){
                flex-direction: column;
            }
        }
    }
}

.copyright{
    background-color: $firstColor;
    color: $thirdColor;
    @include borderPagination;
}