
/* ======================================== NOSOTROS ======================================== */
/* ======================================== NOSOTROS ======================================== */
/* ======================================== NOSOTROS ======================================== */
/* ==================== HEADER ==================== */
#headerSecondary{
    background-color: $firstColor;
    height: 105vh;
    @include borderPaginationHeader;
}

.nosotrosTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    .textContainer{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding-top: 5%;
        @include j-media-up(xl){
            grid-template-columns: repeat(1, auto);
            padding: 50px
        }
        @include j-media-up(lg){
            grid-template-columns: repeat(1, auto);
            padding: 50px
        }
        .textReusable{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            &.hiddenBox{
                display: show;
                @include j-media-up(xl){
                    display: none;
                }
            }
        }
    }
}

/* ==================== MAIN ==================== */
/* ===== First section ===== */
.staffCards{
    background-color: #F1FAFF;
    @include borderPagination;
}

.container__cards{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .cards__reusable{
        width: 300px;
        margin: 10px;
        transition: all 300ms;
        &:hover{
            width: 350px;
            .img__back{
                bottom: -40px;
            }
            .cards__description{
                padding: 40px;
            }
        }
        .cards__cover{
            width: 100%;
            height: 250px;
            position: relative;
            overflow: hidden;
            img{
                width: 250px;
                display: block;
                margin: auto;
                position: relative;
                top: 40px;
                z-index: 1;
                filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
                transition: all 400ms;
            }
            .img__back{
                width: 100%;
                height: 200px;
                position: absolute;
                bottom: -80px;
                left: 0;
                background-size: cover;
                border-radius: 20px;
                transition: all 300ms;
            }
        }
        .cards__description{
            background: white;
            margin-top: -10px;
            padding: 20px;
            border-radius: 0px 0px 20px 20px;
            transition: all 300ms;
            h2{
                margin-top: 10px;
            }
            p{
                margin-top: 10px;
            }
            .info-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                input{
                    padding: 10px 40px;
                    border: none;
                    background: #A6359D;
                    color: white;
                    font-size: 14px;
                    cursor: pointer;
                    border-radius: 8px;
                    transition: all 300ms;
                    &:hover{
                        background: #83277b;
                    }
                }
                .icon{
                    a{  
                        color: $firstColor;
                        transition: .5s;
                        &:hover{
                            color: $secondColor;
                        }
                    }
                    i{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.cards__reusable:hover .cards__cover img{
    top: 0px;
    filter: none;
}

.cards__reusable:nth-of-type(1){
    .img__back{
        background-image: url("../assets/img/cards/bg1.jpg");
    }
}

.cards__reusable:nth-of-type(2){
    .img__back{
        background-image: url("../assets/img/cards/bg2.jpg");
    }
}

.cards__reusable:nth-of-type(3){
    .img__back{
        background-image: url("../assets/img/cards/bg3.jpg");
    }    
}

/* ===== Second section ===== */
.recentlyWorks{
    @include borderPagination;
    .worksContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 140px;
        justify-items: center;
        justify-content: center;
        gap: 35px;
        @include j-media-up(xl){
            grid-template-columns: repeat(1, auto);
            padding: 100px
        }
        @include j-media-up(lg){
            grid-template-columns: repeat(1, auto);
            padding: 50px
        }
        .reusableWorks{
            text-align: center;
            width: 320px;
            height: auto;
            img{
                width: 300px;
                height: 300px;
            }
        }
    }
}

/* ===== Third section ===== */
.workingTogether{
    @include borderPagination;
    background-color: $firstColor;
    color: $thirdColor;
    .togetherContainer{
        padding: 50px 0;
        .reusableTogether{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #968f8fcc;
            text-align: start;
            @include j-media-up(xxl){
                flex-direction: column;
                justify-content: center;
                padding: 20px;
                text-align: center;
                .parrafoReusable{
                    padding-bottom: 20px;
            }
            }
        }
    }
}

/* ===== Third section ===== */
.proveedoresNope{
    @include borderPagination;
    .nothingBox{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include j-media-up(xxl){
            text-align: center;
        }
    }
}