/* ======================================== SERVICIOS ======================================== */
/* ======================================== SERVICIOS ======================================== */
/* ======================================== SERVICIOS ======================================== */
/* ==================== HEADER ==================== */
.servicesTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    justify-content: center;
}

.noticeSection{
    .containerArticle{
        text-align: justify;
        @include borderPagination;
        &.firstArticle{
            padding: 5% 30%;
        }
        &.secondArticle{
            background-color: $firstColor;
            color: $thirdColor;
            padding: 5% 30%;
        }
        &.thirdArticle{
            padding: 5% 30%;
        }
    }
}