// VARIBLES TO COLOR
$firstColor: #212121;
$secondColor: #34FFC8;
$thirdColor: #fff;
$grisColor: #ccc;

$bgc-section: #121212;

//To boostrap
$cardColor: #4c4c4c;
$navbarCollapse: #212121d6;
$colorButton: #696666;

// PADDING 
@mixin j-padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

// BREAK POINT TO MEDIA QUERY
$break-points:(
    sm: 540px,
    md: 764px,
    lg: 1024px,
    xl: 1250px,
    xxl: 1500px
);

@mixin j-media-up($break-point){
    @media (max-width: map-get($break-points, $break-point)) {
        @content;
    }
}

//BORDER PAGINATION HEADER
@mixin borderPaginationHeader{
    @include j-padding(3rem, 20rem, 0, 20rem);
    @include j-media-up(xl){
        @include j-padding(3rem, 11rem, 3rem, 11rem); //5rem a 3rem y 15rem a 11rem
    }
    @include j-media-up(md){
        @include j-padding(3rem, 1.5rem, 3rem, 1.5rem);
    }
}

//BORDER PAGINATION
@mixin borderPagination{
    @include j-padding(5rem, 20rem, 5rem, 20rem);
    @include j-media-up(xl){
        @include j-padding(5rem, 15rem, 5rem, 15rem);
    }
    @include j-media-up(md){
        @include j-padding(3rem, 1.5rem, 3rem, 1.5rem);
    }
}

//ARTICLE
@mixin borderArticle{
    padding: 5% 30%;
        @include j-media-up(xxl){
            padding: 6% 20%;
        }
        @include j-media-up(xl){
            padding: 5rem 15%;
        }
        @include j-media-up(lg){
            padding: 3rem 1.5rem ;
        }
}

/* Title size*/

.sizePrincipal{
    font-size: calc(1.375rem + 1.2vw);
}

.sizeSecondary{
    font-size: calc(1.3rem + .4vw);
}